# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.jest/
*.lcov

# Build
dist/
build/
lib/
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Cache
.npm/
.eslintcache
.prettiercache
